<div class="btn-group loop-buttons" role="group" aria-label="...">
  <button type="button" class="btn btn-default btn-loop" ng-class="{'active-loop': $ctrl.activeLoop1}" ng-click="$ctrl.clickLeft();">Logo links</button>
  <button type="button" class="btn btn-default btn-loop" ng-class="{'active-loop': $ctrl.activeLoop2}" ng-click="$ctrl.clickCenter();">ohne Logo</button>
  <button type="button" class="btn btn-default btn-loop" ng-class="{'active-loop': $ctrl.activeLoop3}" ng-click="$ctrl.clickRight();">Logo rechts</button>

  <button type="button" class="btn btn-default btn-loop btn-fade-out" ng-class="{'active-loop': $ctrl.activeLoop3}" ng-click="$ctrl.fadeOut();"><i class="fa fa-sign-out"></i> Fade out</button>
</div>